:root {
  --bs-blue: #00233a;
  --bs-hero: #219ebc;
  --bs-btn: #ffd26c;
}

body {
  background-color: var(--bs-blue);
}
html,
body {
  overflow-x: hidden;
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  margin-bottom: 80px;
  padding-bottom: 120px;
  background-color: var(--bs-blue);
  height: 100px;
}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
  background: #037582;
  padding: 12px;
}
.content-container {
  order: 1;
 
}

.image-container {
  order: 2;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  color: white;
  font-style: normal;
  text-align: center;
  margin-top: 90px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
li {
  color: #fff;

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.heading2 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  margin-bottom: 100px;
}

.hero {
  background-color: var(--bs-hero);
  width: 1720px;
  height: 620px;
  border-radius: 48px;
}

.register {
  margin-top: 50px;
  align-items: center;
}
.btn1 {
  background-color: var(--bs-btn);
  font-size: x-large;
  width: 363px;
  height: 52px;
  display: inline-flex;
  padding: 3px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.btn2 {
  background-color: var(--bs-btn);
  display: inline-flex;
  padding: 3px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.cloud {
  display: flex;
  width: 436px;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
  margin: 89px;
}

.registration {
  background-color: var(--bs-hero);
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 15px;
  border-radius: 24px;
  width: 849px;
  height: 378px;
  box-shadow: 0px 10px 20px 0px #00233a,
    0px 20px 20px 0px rgba(255, 255, 255, 0.5) inset,
    0px -20px 20px 0px #00233a inset;
}

#form-control input {
  border-radius: 12px;
}

#form-control input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
  border-radius: 48px;
  background: var(--bs-hero);
  box-shadow: 0px 40px 80px 0px rgba(255, 255, 255, 0.5) inset,
    0px -40px 80px 0px rgba(0, 0, 0, 0.5) inset;
}

.box {
  display: flex;
  width: 500px;
  height: 70px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--bs-btn);
}

.width h1 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin-left: 40px;
}

.width {
  width: 500px;
  height: 100px;
  padding: 30px;
}

.footer {
  display: flex;
  width: 1920px;
  height: 490;
  padding: 64px 328.28px 126px 329px;
  justify-content: center;
  align-items: center;
  border-radius: 48px 48px 0px 0px;
  background: #fff;
}

.subs {
  color: #fff;

  font-family: Geeza Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.subs sub {
  color: #fff;
  font-family: Geeza Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

/* responsive */
@media screen and (max-width: 431px) {
  .heroResponsive {
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .content-container {
    order: 1;
   
  }

  .image-container {
    order: 2;
  }
}

@media screen and (max-width: 431px) {
  .registration {
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .registration > .d-flex {
    width: 90%;
    margin: 20px;
    max-width: 400px;
  }

  .con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    
  }
}

@media screen and (max-width: 431px) {
  .col-m {
    margin-top: 200px;
  }
}

@media screen and (max-width: 431px) {
  .con-cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
  }
  .cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .heading {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
  }

  .speakers {
    width: 429px;
    padding: 48px 0px 67.644px 0px;
    flex-direction: column;
    align-items: center;
    gap: 0.196px;
  }

  .box {
    display: flex;
    padding: 8.58px;
    justify-content: center;
    align-items: center;
    gap: 8.58px;
    width: 429px;
    height: auto;
  }

  .heading2 {
    color: #fff;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
  }

  #mainNavigation {
    width: 100%;
    height: 80px;
  }
  .footer-m {
    display: flex;
    padding: 64px 145px 63.861px 144px;
    justify-content: center;
    align-items: center;
    border-radius: 24px 24px 0px 0px;
    background: #fff;
  }
  .footer {
    display: flex;
    padding: 64px 145px 63.861px 144px;
    justify-content: center;
    align-items: center;
    border-radius: 24px 24px 0px 0px;
    background: #fff;
  }
  .width{
    margin-bottom: 40px;
  }

  @media (max-width: 431px) {
    /* Adjust column layout for smaller screens */
    #form-control .col-md-6,
    #form-control .col-md-12,
    #form-control .col-md-4,
    #form-control .col-md-8 {
      width: 100%;
      margin-bottom: 10px; /* Space between rows */
    }
  
    /* Remove margin-bottom for the last element in each row */
    #form-control .col-md-6:last-child,
    #form-control .col-md-12:last-child,
    #form-control .col-md-4:last-child,
    #form-control .col-md-8:last-child {
      margin-bottom: 0;
    }
  }
}
