:root {
  --bs-blue: #00233a;
  --bs-hero: #219ebc;
  --bs-btn: #ffd26c;
  --bs-btn-hover: rgba(255, 210, 108, 0.8);
}

body {
  background-color: var(--bs-blue);
}
.custom-mb-100 {
  margin-bottom: 100px;
}
.custom-mt-150 {
  margin-top: 150px;
}

.hero {
  background-color: var(--bs-hero);
  padding: 3rem;
  border-radius: 48px;
}

.nav-button {
  width: 170px;
  padding: 6px 30px 6px 31px;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-blue);
  border-radius: 12px;
  border: 1px solid var( --bs-btn);
  color: var( --bs-btn);
  text-align: center;
  font-family: Geeza Pro;
  font-size: 32px;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 90px;
}

.heading2 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.img-header {
  flex-shrink: 0;
  height: 524px;
  border-radius: 8px;
}
.register {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.p-hero {
  color: #fff;
  padding-top: 2rem;
  line-height: 35px;
  font-size: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-yellow {
  background-color: var(--bs-btn);
  color: #000;
  max-width: 350px;
  min-width: 200px;
  margin-inline-end: 1rem;
}

.btn-yellow:hover {
  background-color: var(--bs-btn-hover);
}

.subs {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.icons {
  justify-content: center;
}

.cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}

.registration {
  background-color: var(--bs-hero);
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 24px;
  align-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px 0px #00233a,
    0px 20px 20px 0px rgba(255, 255, 255, 0.5) inset,
    0px -20px 20px 0px #00233a inset;
}

#form-control input {
  border-radius: 12px;
}

#form-control input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.btn2 {
  background-color: var(--bs-btn);
  display: inline-flex;
  padding: 3px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 700px;
  border-radius: 48px;
  background: var(--bs-hero);
  box-shadow: 0px 40px 80px 0px rgba(255, 255, 255, 0.5) inset,
    0px -40px 80px 0px rgba(0, 0, 0, 0.5) inset;
}

.box {
  display: flex;
  width: 500px;
  height: 70px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--bs-btn);
}

.width ul li {
  line-height: 38px;
  padding-top: 10px;
  text-align: center;
}
.hero-content-svg-1 {
  position: absolute;
  left: 12px;
  top: 150px;
  z-index: -1;
  width: 100px;
  height: auto;
}
.hero-content-md-svg-1 {
  position: absolute;
  right: 10%;
  top: -80px;
}
.hero-content-svg-2 {
  position: absolute;
  left: 60px;
  top: -80px;
}

.hero-content-svg-3 {
  position: absolute;
  top: -43px;
}
.hero-content-svg-4 {
  position: absolute;
  bottom: -60px;
  left: 54px;
}
.hero-content-svg-5 {
  position: absolute;
  top: 10px;
  right: 46px;
  height: 529px;
  z-index: 1;
}
.hero-content-md-svg-5 {
  position: absolute;
  z-index: 1;
  top: 1%;
}
.left-svg-1 {
  position: absolute;
  left: 2%;
  top: 24%;
}
.left-md-svg-1 {
  position: absolute;
  left: -2%;
  top: 62%;
  z-index: -1;
}
.left-md-svg-2 {
  position: absolute;
  left: 0%;
  top: 64%;
  z-index: -1;
}
.left-svg-2 {
  position: absolute;
  left: 6%;
  top: 24%;
}
.left-svg-3 {
  position: absolute;
  left: 2.5%;
  top: 79.3%;
}

.right-svg-1 {
  position: absolute;
  right: 4.5%;
  top: 17%;
}
.right-svg-2 {
  position: absolute;
  right: 3%;
  top: 9%;
  z-index: -1;
}
.right-svg-3 {
  position: absolute;
  right: 4.5%;
  top: 62.9%;
  z-index: -1;
}
.left-lg-svg-1 {
  position: absolute;
  left: 0%;
  top: 66%;
  z-index: -1;
}
.left-lg-svg-2 {
  position: absolute;
  left: 1%;
  top: 71%;
  z-index: -1;
}
.left-lg-svg-3 {
  position: absolute;
  left: 1.1%;
  top: 237%;
  z-index: -1;
}
.left-md-svg-3 {
  position: absolute;
  left: 2.1%;
  top: 31.4%;
  z-index: -1;
}
.right-md-svg-1 {
  position: absolute;
  right: 3.5%;
  top: 23%;
  z-index: -1;
}
.right-md-svg-2 {
  position: absolute;
  right: 5.5%;
  top: 46.5%;
  z-index: -1;
}
.footer {
  background-color: #fff;
  padding: 50px;
  border-radius: 48px 48px 0px 0px;
  gap: 88px;
}

/* responsive */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .heading2 {
    font-size: 61px;
  }
  .left-svg-3 {
    top: 79.7%;
  }
  .left-svg-1 {
    left: 1%;
    top: 24.2%;
  }
  .left-svg-2 {
    left: 5%;
    top: 24.2%;
  }
  .right-svg-3 {
    right: 2.5%;
    top: 61.9%;
  }
  .right-svg-2 {
    right: 1%;
    top: 7%;
  }
  .right-svg-1 {
    right: 2.5%;
  }
  .left-lg-svg-1 {
    left: -3%;
  }
  .left-lg-svg-2 {
    left: -1%;
  }
  .left-lg-svg-3 {
    left: -0.9%;
  }
  .hero-content-svg-5 {
    top: 18px;
    right: 4%;
  }
  .hero-content-svg-3 {
    right: 327px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .hero-content-md-svg-5 {
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 9%;
  }
  .right-md-svg-2 {
    position: absolute;
    right: 3.5% !important;
    top: 38.5% !important;
    z-index: -1;
}
.right-md-svg-1 {
  position: absolute;
  right: 1.5% !important;
  top: 9% !important;
  z-index: -1;
}
.hero-content h1 {
  text-align: center;
}
.heading2 {
  font-size : 45px;
}
.speaker-margin-bottom{
  margin-bottom: 75px;
}

}
@media screen and (max-width: 425px) {
  .hero-content-md-svg-1 {
    right: 4%;
    top: -72px;
  }
  .hero {
    min-width: 379px;
  }
  .speakers {
    width: 364px;
    height: 554px;
  }
  .box {
    width: 364px;
  }
  .row-hero {
    flex-direction: column-reverse;
    align-self: center;
  }
  .speakers-one {
    width: 354px;
    height: 358px;
  }

  .speakers-two {
    width: 297px;
  }

  .heading2 {
    min-width: 327px;
    font-size: 38px;
  }
  .hero-content-sm-svg-5 {
    position: absolute;
    top: 2.5%;
    left: 10%;
    z-index: 1;
  }
  .left-sm-svg-1 {
    position: absolute;
    top: -14%;
    left: 1%;
  }
  .right-sm-svg-1 {
    position: absolute;
    top: 39.5%;
    right: 1%;
  }
  .left-sm-svg-3 {
    position: absolute;
    top: 89.5%;
    left: -9%;
    z-index: -1;
  }
  .left-sm-svg-4 {
    display:none;
  }
  .p-hero {
    text-align: justify;
  }
  .footer {
    min-width: 378px;
  }
  .row-footer {
    min-width: 330px;
  }
}
@media screen and (max-width: 360px) {
  .hero-content-sm-svg-5 {
    position: absolute;
    top: 3px;
    left: 24px;
    z-index: 1;
  }
  .header {
    width: 200px;
  }
  .hero-content h1 {
    min-width: 228px;
  }
  .p-hero {
    width: 231px;
  }
  .hero-content-md-svg-1 {
    right: 4%;
    top: -72px;
  }
  .hero {
    min-width: 360px;
  }
  .heading2 {
    font-size: 28px;
  }
  .abdu {
    margin-left: 50px;
  }
  .abdu .width {
    margin-left: 50px;
  }
  .registration {
    min-width: 360px;
  }
  .width {
    display: flex;
    width: 276px;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;
  }
  .width h1 {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .width li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .speakers {
    width: 360px;
    height: 477px;
  }
  .box {
    width: 360px;
  }

  .row-hero {
    align-self: center;
  }
  .speakers-one {
    width: 350px;
    height: 331px;
  }

  .speakers-two {
    width: 218px;
  }
  .footer {
    min-width: 359px;
  }

  .p-hero {
    text-align: justify;
  }
  .row-footer {
    min-width: 330px;
  }
}
@media screen and (max-width: 320px) {
  .hero-content-sm-svg-5 {
    top: 4.5% !important;
    left: 0.5% !important;
    height: 185px;
  }
  .header {
    width: 200px;
  }
  .p-hero {
    padding: 0px 0px 0px 0px;
    line-height: 29px !important;
    font-size: 15px !important;
  }
  .heading {
    font-size: 18px;
  }
  .hero-content-md-svg-1 {
    right: 4%;
    top: -72px;
  }
  .hero {
    min-width: 320px;
  }
  .heading2 {
    font-size: 36px;
  }
  .abdu {
    margin-left: 50px;
  }
  .abdu .width {
    margin-left: 50px;
  }
  .registration {
    min-width: 320px;
  }
  .width {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;
  }
  .width h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
  .width li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .speakers {
    width: 300px;
    height: 477px;
  }
  .box {
    width: 300px;
  }
  .row-hero {
    align-items: center !important;
  }
  .speakers-one {
    width: 266px;
    height: 294px;
  }

  .speakers-two {
    width: 218px;
  }
  .footer {
    min-width: 319px;
  }
  .heading2 {
    font-size: 37px;
  }
  .hero-content-sm-svg-5 {
    position: absolute;
    top: 2.5%;
    left: 0.5%;
    z-index: 1;
  }
  .left-sm-svg-1 {
    display: none;
  }
  .right-sm-svg-1 {
    display: none;
  }
  .left-sm-svg-3 {
    display: none;
  }
  .left-sm-svg-4 {
    display: none;
  }
  .p-hero {
    text-align: justify;
  }
  .row-footer {
    min-width: 330px;
  }
  .custom-mb-100 {
    margin-top: 48px !important;
    margin-bottom: -16px !important;
  }
  .fs-4 {
    font-size: calc(1.275rem + -0.7vw) !important;
  }
}
