:root {
  --bs-blue: #00233a;
  --bs-hero: #219ebc;
  --bs-btn: #ffd26c;
}

body {
  background-color: var(--bs-blue);
}

main {
  max-width: calc(1920px - 200px);
  display: flex;
  justify-content: center;
}
.nav-button {
  display: inline-flex;
  padding: 6px 30px 6px 31px;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-blue);
  border-radius: 12px;
  border: 1px solid #ffd26c;
  color: #ffd26c;
  justify-content: end;
  text-align: center;
  font-family: Geeza Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  color: white;
  font-style: normal;
  text-align: center;
  margin-top: 90px;
}

.heading2 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero {
  background-color: var(--bs-hero);
  max-width: 100%;
  height: 620px;
  border-radius: 48px;
  padding: 30px;
}

.hero-content {
  padding: 50px;
}

.img-header {
  flex-shrink: 0;
  height: 524px;
  border-radius: 8px;
}
.register {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.p1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-top: 0;
  padding: 20px;
}
.btn1 {
  background-color: var(--bs-btn);
  font-size: x-large;
  max-width: auto;
  height: 52px;
  display: inline-flex;
  padding: 3px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.subs {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.icons {
  justify-content: center;
}

.cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}
.cloud ul {
  padding-left: 0;
  align-items: center;
}

.cloud ul li {
  margin-bottom: 10px;
}
.cloud img.logo {
  margin-top: 10px;
  margin-bottom: 15px;
}

.registration {
  background-color: var(--bs-hero);
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 15px;
  border-radius: 24px;
  height: 378px;
  align-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px 0px #00233a,
    0px 20px 20px 0px rgba(255, 255, 255, 0.5) inset,
    0px -20px 20px 0px #00233a inset;
}

#form-control input {
  border-radius: 12px;
}

#form-control input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.btn2 {
  background-color: var(--bs-btn);
  display: inline-flex;
  padding: 3px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
  border-radius: 48px;
  background: var(--bs-hero);
  box-shadow: 0px 40px 80px 0px rgba(255, 255, 255, 0.5) inset,
    0px -40px 80px 0px rgba(0, 0, 0, 0.5) inset;
}

.box {
  display: flex;
  width: 500px;
  height: 70px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--bs-btn);
}

.width h1 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin-left: 40px;
}

.width {
  max-width: 507px;
  padding: 30px;
}
.width ul li {
  line-height: 38px;
  padding-top: 10px;
  text-align: center;
}

.footer {
  border-radius: 24px 24px 0px 0px;
  max-width: 1920px;
  height: auto;
  background-color: white;
}
.footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1857px;
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding: 130px; */
  gap: 88px;
}


.relative {
  position: relative;
}

.hero .absolute {
  position: absolute;
  /* Adjust top, left, right, or bottom values to position the SVG within its container */
  top: 130px;
  left: -75px;
  clip-path: inset(0 50% 0 0);
  width:154px;
}
.hero .svg2 {
  position: absolute;
  top:-80px;
  left:20px;
  width:887px;
  
}
.hero .svg3 {
  position: absolute;
  top: -40px;
  left: 1000px;
  width:97px;
}
.hero .svg4 {
  position: absolute;
  top: 620px;
  left: 90px;
  width:1230px;
}

.relative  .svg5 {
  position: absolute;
  left:177px;
  top:-10px; 
  /* width:2000px; */
  /* aspect-ratio: 1/2; */

}

.hero .svg6 {
  display:none;
}

.left-svg {
  position: absolute;
  top: 1500px;
  left: 200px;
}

.left-svg1 {
  position: absolute;
  top: 1500px;
  left: 260px;
}

.left-svg2 {
  position: absolute;
  top: 1940px;
  left: 190px;
}

.right-svg3 {
  position: absolute;
  top: 1560px;
  right: 100px;
}
.right-svg {
  position: absolute;
  top: 1490px;
  right: 60px;
}
.right-svg1 {
  position: absolute;
  top: 1930px;
  right: 90px;
}

.left1 {
  position: absolute;
  top: 2670px;
  left: 90px;
}
.left2 {
  position: absolute;
  top: 2695px;
  left: 120px;
}
.left3 {
  position: absolute;
  top: 3720px;
  left: 130px;
}
/* responsive */
@media (max-width: 320px) {
  .hero {
    min-width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 24px;
  }

  .heading2 {
    font-size: 42px;
    min-width: 320px;
  }
  .hero-content {
    padding: 20px;
  }
  .img-header {
    height: 223px;
  }
  .cloud {
    display: flex;
    min-width: 320px;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    margin-bottom: 60px;
  }

  .cloud ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .cloud ul li {
    margin-bottom: 10px;
  }
  .speakers-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    min-width: 320px;
  }
  .speakers-responsive .row {
    flex-direction: column-reverse;
  }

  .con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .speakers {
    display: flex;
    min-width: 300px;
    padding: 36px 0px 63px 0px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .one {
    max-width: 500px;
  }

  .box {
    display: flex;
    padding: 8.58px;
    justify-content: center;
    align-items: center;
    gap: 8.58px;
    min-width: 360px;
  }

  .width {
    display: flex;
    width: 348px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 34px;
  }
  .width h1 {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .width li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .hero .svg3 {
    position: absolute;
    top: -50px;
    left: 30px;
    width: 97px;
    /* display: none; */
}
}

@media (max-width: 431px) {
  .hero {
    min-width: 375px;
    max-width: 431px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 24px;
  }

  .heading2 {
    min-width: 375px;
    font-size: 42px;
  }
  .hero-content {
    padding: 20px;
  }
  .img-header {
    height: 223px;
  }
  .cloud {
    display: flex;
    min-width: 375px;
    max-width: 431px;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }

  .cloud ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .cloud ul li {
    margin-bottom: 10px;
  }
  .speakers-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    min-width: 320px;
  }
  .speakers-responsive .row {
    flex-direction: column-reverse;
  }

  .con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .speakers {
    display: flex;
    min-width: 300px;
    padding: 36px 0px 63px 0px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .one {
    max-width: 500px;
  }

  .box {
    display: flex;
    padding: 8.58px;
    justify-content: center;
    align-items: center;
    gap: 8.58px;
    min-width: 360px;
  }

  .width {
    display: flex;
    width: 348px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 34px;
  }
  .width h1 {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .width li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 770px) {
  .hero {
    min-width: 431px;
    max-width: 768px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 24px;
  }
  .heading {
    min-width: 395px;
    text-align: center;
  }

  .heading2 {
    min-width: 395px;
    text-align: center;
    font-size: 60px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .img-header {
    width: 100%;
    height: auto;
  }
  .register {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-content {
    padding: 20px;
  }
  .icons {
    padding-bottom: 10px;
  }

  .cloud ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 30px;
    gap: 15px;
  }

  .cloud ul li {
    margin-bottom: 10px;
    min-width: 395px;
    justify-content: center;
  }

  .registration {
    min-width: 432px;
    height: 594px;
    padding-top: 50px;
  }

  #form-control {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form-control .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    height: 55px;
    flex-shrink: 0;
  }
  #form-control .col-md-12 {
    width: 384px;
    height: 60px;
    flex-shrink: 0;
  }
  #form-control .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 99px;
    height: 48px;
    flex-shrink: 0;
  }
  #form-control .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: 260px;
    height: 48px;
    flex-shrink: 0;
  }

  #form-control .form-label {
    margin-bottom: 5px;
    margin-top: 7px;
  }

  #form-control .form-control {
    align-items: center;
  }

  .speakers-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    min-width: 320px;
  }
  .speakers-responsive .row {
    flex-direction: column-reverse;
    width: 200px;
  }

  .con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .speakers {
    display: flex;
    width: 400px;
    height: auto;
    padding: 36px 0px 63px 0px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .one {
    max-width: 400px;
    height: 400px;
  }

  .img1 {
    max-width: 400px;
    height: 400px;
  }

  .box {
    display: flex;
    padding: 8.58px;
    justify-content: center;
    align-items: center;
    gap: 8.58px;
    width: 400px;
  }

  .width {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    row-gap: 34px;
  }
  .width h1 {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .width li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .margin {
    margin-left: 1px;
  }

  .roww {
    width: 300px;
    flex-direction: column-reverse;
  }

  .col6 {
    width: 200px;
    margin-right: 1px;
  }

  .footer {
    min-width: 421px;
  }
  .footer .row {
    width: 421px;
  }

  .svg1 {
    display: none;
  }
  .hero .svg2 {
    position: absolute;
    top:-80px;
    left:-200px;
    width:887px;
    display: none;;
    
  }
  .hero .svg3 {
    position: absolute;
    top:-50px;
    left:82px;
    width:97px; 
    /* display: none; */
  }
  .hero .svg4 {
    position: absolute;
    /* top: 620px;
    left: 90px;
    width:1230px; */
    display:none;
  }
  .hero .svg6 {
    position: absolute;
    display:block;
    left:370px;
    top:-50px;
    width:62px;
  }

  .hi {
    margin-left:38px;
  }
}

/* @media (max-width: 1440px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 24px;
  }
  .hero .svg4 {
    position: absolute;
    display:none;
    left:370px;
    top:1021px;
    clip-path: inset(0 50% 0 0);
    width:1221px;
  }
  .heading {
    min-width: 395px;
    text-align: center;
  }

  .heading2 {
    min-width: 395px;
    text-align: center;
    font-size: 60px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .btn1 {
    width: auto;
  }
  .img-header {
    min-width: 677px;
    max-width: 1000px;
    height: auto;
  }
  .register {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-content {
    padding: 20px;
  }
  .icons {
    padding-bottom: 10px;
  }

  .cloud ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    gap: 15px;
  }

  .cloud ul li {
    margin-bottom: 10px;
    min-width: 395px;
    justify-content: center;
  }

  .registration {
    min-width: 432px;
    height: 490px;
    padding-top: 30px;
  }
  .img1 {
    width: 323px;
  }
  #form-control {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #form-control .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    height: 48px;
    flex-shrink: 0;
  }
  #form-control .col-md-12 {
    width: 384px;
    height: 48px;
    flex-shrink: 0;
  }
  #form-control .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 99px;
    height: 48px;
    flex-shrink: 0;
  }
  #form-control .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: 260px;
    height: 48px;
    flex-shrink: 0;
  }

  #form-control .form-label {
    margin-bottom: 5px;
    margin-top: 7px;
  }

  #form-control .form-control {
    align-items: center;
  }

  .speakers-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    min-width: 320px;
  }
  .speakers-responsive .row {
    flex-direction: column-reverse;
    width: 200px;
  }

  .con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .speakers {
    display: flex;
    width: 400px;
    height: auto;
    padding: 36px 0px 63px 0px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .one {
    max-width: 400px;
    height: 434px;
  }

  .box {
    display: flex;
    padding: 8.58px;
    justify-content: center;
    align-items: center;
    gap: 8.58px;
    width: 400px;
  }

  .width {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    row-gap: 34px;
  }
  .width h1 {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .width li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .margin {
    margin-left: 1px;
  }

  .col6 {
    width: 200px;
    margin-right: 1px;
  }
  .footer {
    min-width: 421px;
  }

  .footer .row {
    min-width: 421px;
    max-width: 1035px;
    padding-top: 40px;
  }
  .footer .row .col-md-6 {
    height: 342px;
    min-width: 421px;
  }

} */
